/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/17/2019, 03:04:51 PM
    Author     : Rangel
*/
body{
    margin: 20px;
    font-family: verdana;
}
#menu-principal {
    /*padding: 10px 0px*/
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
#menu-principal a{
    color: green;
    text-decoration: none;
}
#menu-principal a:hover{
    text-decoration: underline red;
}
#menu-principal a + a::before {
content: " | ";
color: black; 
}
footer{
margin-top: 20px;
border-top: solid 1px black;
padding-top: 10px;
text-align: center;
}
table {
border-collapse: collapse;
}
table th, td {
border:  1px black solid;
padding: 10px;
}
tbody tr:nth-child(even){
    background-color: #CCC;
}
tbody tr:nth-child(odd){
    background-color: #CCF;
}
tbody tr:nth-child(even):hover {
    background-color: #DDD;
}
tbody tr:nth-child(odd):hover {
    background-color: #DDF;
}

.sombra {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6)
}
